<!-- MAKE AN APPOINTMENT -->
<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <img src="https://youmed.vn/photos/497f7393-e7ff-4143-b78b-98054f503ce2.jpg" class="img-responsive" alt>
            </div>
            
            <div class="col-md-6 col-sm-6">
                <!-- CONTACT FORM HERE -->
                <form method='POST' action='/order/addorder'>

                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp"
                        data-wow-delay="0.4s">
                        <h2>Đặt lịch kiểm tra sức khỏe</h2>
                    </div>

                    <div class="wow fadeInUp"
                        data-wow-delay="0.8s">
                        <div class="col-md-6 col-sm-6">
                            <label for="name">Họ và tên</label>
                            <input value="{{user.name}}" type="text" class="form-control" id="name" name="name" >
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="email">Email</label>
                            <input value="{{user.email}}" type="email" class="form-control" id="email" name="email">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="date">Chọn ngày</label>
                            <input type="date" name="date" value class="form-control">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label id="select" for="select">Chọn khoa</label>
                            <select class="form-control" name="department">
                                {{#each department}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="select">Chọn khung giờ</label>
                            <select class="form-control" name="hours">
                                    <option>6:00-6:59</option>
                                    <option>7:00-7:59</option>
                                    <option>8:00-8:59</option>
                                    <option>9:00-9:59</option>
                                    <option>10:00-10:59</option>
                                    <option>11:00-11:59</option>
                                    <option>12:00-12:59</option>
                                    <option>13:00-13:59</option>
                                    <option>14:00-14:59</option>
                                    <option>15:00-15:59</option>
                                    <option>16:00-16:59</option>
                                    <option>17:00-17:59</option>
                                    <option>18:00-18:59</option>
                                    <option>19:00-19:59</option>
                                
                            </select>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <label for="telephone">Số điện thoại</label>
                            <input type="tel" class="form-control" id="phone" name="contact">
                            <label for="Message">Ghi chú</label>
                            <textarea class="form-control" rows="5" id="message" name="note"></textarea>
                            <button type="submit" class="form-control" id="cf-submit" >Đặt lịch</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

