<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-5">
                <p></p>
            </div>

            <div class="col-md-8 col-sm-7 text-align-right">
                <span class="phone-icon"><i class="fa fa-phone"></i> +84 704426360</span>
                <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 7:00 SA - 5:00 CH (T2-T6)</span>
                {{{user_info user}}}
            </div>

        </div>
    </div>
</header>
<!--Menu-->
<section class="navbar navbar-default navbar-static-top"
    role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!--Logo-->
            <a href="/home" class="navbar-brand"><i
                    class="fa fa-h-square"></i>ealth Booking</a>
        </div>

        <!--Menu Link-->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{{layout_button user}}}
            </ul>
        </div>

    </div>
</section>