<header>
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-5">
                        <p></p>
                    </div>

                    <div class="col-md-8 col-sm-7 text-align-right">
                        <span class="phone-icon"><i class="fa fa-phone"></i> +84 704426360</span>
                        <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 7:00 SA - 5:00 CH (T2-T6)</span>
                        <span class="email-icon"><i class="fa fa-user-o"></i><a href="#">Đăng nhập/Đăng ký</a></span>
                    </div>

                </div>
            </div>
        </header>