<div></div>
<h3>Đăng nhập</h3>
<form method="POST" action="/home">
    <div>
            <label for="email">Gmail</label>
            <input type="text" name="email">
    </div>
    <div>
            <label for="password">Mật khẩu</label>
            <input type="text" name="password">
    </div>
    <button type='submit' class='btn btn-primary'>Đăng nhập</button>
    <button type='submit' class='btn btn-primary'>Đăng kí</button>

</form>

